@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI.ttf") format("truetype");
}

:root {
  --primary-color: #d35f9f;
  --secondary-color: #f0cadb;
  --third-color: #fcf1f5;
  --text-color: #2d2d2d;
  --dark-gray: #6c757d;
  --light-gray: #f6f8fb;
  --hover-color: #00a6ff;
}

body {
  font-family: "Segoe UI", sans-serif;
  text-color: var(--text-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  padding: 60px 20px;
  text-align: center;
  color: white;
}

.btn {
  display: inline-block;
  background-color: #fff;
  padding: 12px 30px;
  border-radius: 20px;
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--hover-color);
  color: white;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.search-section {
  background-color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.search-form input,
.search-form select {
  padding: 10px;
  margin: 0 3px;
  border: 1px solid var(--dark-gray);
  border-radius: 5px;
}

.search-form button {
  background-color: var(--primary-color);
  padding: 12px;
  margin: 0 3px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.search-form button:hover {
  background-color: var(--hover-color);
  transition: background-color 0.3s ease;
}

.features {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  margin-bottom: 30px;
}

.feature-box {
  background-color: var(--third-color);
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px;
  text-align: center;
  width: 220px;
}

.feature-box i {
  font-size: 2.3rem;
  color: var(--primary-color);
  text-align: center;
}

.cta {
  background-color: var(--secondary-color);
  padding: 40px;
  text-align: center;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 5px 20px;
}
